@model KarnalTravel.TouristSpot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEnd.cshtml";
}
<style>
    .move-side {
        margin-left: 40px;
    }
</style>
<div class="move-side">

    <h2>Details</h2>

    <div>
        <h4>TouristSpot</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>