
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontEnd.cshtml";
    var points = (IEnumerable<KarnalTravel.TouristSpot>)ViewBag.Touristspot;
    var restaurents = (IEnumerable<KarnalTravel.Resturant>)ViewBag.restaurents;
    var hotel = (IEnumerable<KarnalTravel.Hotel>)ViewBag.hotels;
    var resorts = (IEnumerable<KarnalTravel.Resorts_>)ViewBag.Resorts;
    var transportation = (IEnumerable<KarnalTravel.Transportion>)ViewBag.Transport;  
}
<style>
    .paragraph
    {
        width:1000px;
        text-align:justify;
    }
</style>

<!-- banner -->
<section class="banner_inner" id="home">
    <div class="banner_inner_overlay">
    </div>
</section>
<!-- //banner -->
<!-- about -->
<section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
        <h1>A few words about us</h1>
     <br />
        <div class="paragraph">
            <p>Karnal Travels is a leading online travel management company because it hasalways been an art to provide better services. It involves plenty of activities such as Airline Ticketing, Hotel Booking Agents, Car & Coach Rental,Passport & Visa Services, Travel Insurance, Tour Operators.Thus,while planning all the bookings we co-ordinate with our experts so that we provide the best and reasonable service to our clients.We not only excel at helping you get your trip planned but  we also make sure that each trip is an exceptional trip filled with inspiring and life-enriching experiences.</p>
        </div><br /><br />
        <div class="row">
            <div class="col-lg-6 about-left">
                <h3 class="mt-lg-3">We will take you to the Top destination in the world, <strong>Explore with us!</strong></h3>
                <p class="mt-4">
                    Duis nisi sapien, elementum finibus fermentum eget, aliquet leo et. Mauris hendrerit vel ex.
                    Quisque vitae luctus massa. Phasellus sed aliquam leo. Vestibulum ullamcorper a massa eu fringilla. Integer ultrices finibus sed nisi.
                    in convallis felis dapibus sit amet.
                </p>
                <p class="mt-3">
                    Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum
                    urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.
                </p>
            </div>
            <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
                <img src="/Templates/FrontEnd/images/about.jpg" alt="" class="img-fluid abt-image" />
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-lg-3 col-6">
                <div class="counter">
                    <span class="fa fa-smile-o"></span>
                    <div class="timer count-title count-number">1000+</div>
                    <p class="count-text text-uppercase">happy customers</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter">
                    <span class="fa fa-ship"></span>
                    <div class="timer count-title count-number">2271</div>
                    <p class="count-text text-uppercase">Tours & Travels </p>
                </div>
            </div>
            <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                <div class="counter">
                    <span class="fa fa-users"></span>
                    <div class="timer count-title count-number">200</div>
                    <p class="count-text text-uppercase">destinations</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                <div class="counter">
                    <span class="fa fa-gift"></span>
                    <div class="timer count-title count-number">20+<span>years</span></div>
                    <p class="count-text text-uppercase">experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- tabs -->
<section class="choose" id="choose">
    <div class="overlay-all py-5">
        <div class="container py-lg-5 py-sm-4">
            <h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Why Choose Us</h2>
            <div class="edu-exp-grids">
                <div class="tab-main">
                    <input id="tab1" type="radio" name="tabs" class="w3pvt-sm" checked>
                    <label for="tab1">We Offer</label>
                    <input id="tab2" type="radio" class="w3pvt-sm" name="tabs">
                    <label for="tab2">We provide</label>
                    <section id="content1">
                        <div class="row text-center">
                            <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Winter Tours</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Accomodation</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Low Prices</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="content2">
                        <div class="row text-center">
                            <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Less Crowd</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Exp Agents</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 inner-w3pvt-wrap">
                                <div class="inner-sec-grid">
                                    <span class="fa fa-gift"></span>
                                    <h4 class="mt-md-4 mt-2">Easy Trip</h4>
                                    <p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tabs -->
<!-- testimonials -->
<section class="testimonials py-5" id="testi">
    <div class="container py-lg-5 py-md-3">
        <h3 class="heading text-capitalize text-center mb-lg-5 mb-4"> What Our Customers Say</h3>
        <div class="row pt-xl-4">
            <div class="col-md-4 test-grid px-lg-4">
                <div class="testi-info text-center">
                    <p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
                    <div class="test-img text-center mt-4">
                        <img src="/Templates/FrontEnd/images/te1.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <h3 class="mt-md-4 mt-3">Elisa ker</h3>
                </div>
            </div>
            <div class="col-md-4 test-grid px-lg-4 my-md-0 my-5">
                <div class="testi-info text-center">
                    <p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
                    <div class="test-img text-center mt-4">
                        <img src="/Templates/FrontEnd/images/te2.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <h3 class="mt-md-4 mt-3">Johnson</h3>
                </div>
            </div>
            <div class="col-md-4 test-grid px-lg-4">
                <div class="testi-info text-center">
                    <p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
                    <div class="test-img text-center mt-4">
                        <img src="/Templates/FrontEnd/images/te3.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <h3 class="mt-md-4 mt-3">Elizabeth</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center">Resturants </h3>
        <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
        <div class="package-info">

            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">

                @foreach (var item in restaurents)
                {

                    <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">

                        <div class="image-position position-relative">
                            <img src="~/uploading/@item.Photo" class="img-fluid" alt="" width="300">

                        </div>

                        <ul class="listing mt-3">
                            <li>
                                <h6 class="mt-1">
                                    <span class="fa fa-map-marker mr-2"></span>@if (item.Country != null)
                                    {
                                        var cname = item.Country.Name;<span>@cname</span>
                                    }
                                </h6>
                                <h6 class="my-2">@item.Name</h6>

                            </li>
                        </ul>
                        <div class="destinations-info">
                            <div class="caption mb-lg-3">
                                <h5 class="my-2">@item.Name</h5>
                                <a href="@Url.Action("InformationDetail", "Information", new { Id = item.Id, infotype = 1 })">Details</a>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>

    </div>
</section>







<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center">TouristSpot </h3>
        <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
        <div class="package-info">

            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">

                @foreach (var item in points)
                {
                    <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">

                        <div class="image-position position-relative">
                            <img src="~/uploading/@item.Photo" class="img-fluid" alt="" width="300">

                        </div>

                        <ul class="listing mt-3">
                            <li>
                                <h6 class="mt-1">
                                    <span class="fa fa-map-marker mr-2"></span>@if (item.Country != null)
                                    {
                                        var cname = item.Country.Name;<span>@cname</span>
                                    }
                                </h6>
                                <h5 class="my-2">@item.Name</h5>

                            </li>
                        </ul>


                        <div class="destinations-info">
                            <div class="caption mb-lg-3">
                                <h6 class="my-2">@item.Name</h6>
                                <a href="@Url.Action("InformationDetail", "Information", new { Id = item.Id, infotype = 2 })">Details</a>
                            </div>
                        </div>


                    </div>
                }
            </div>
        </div>
    </div>
</section>



<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center">Hotels </h3>
        <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
        <div class="package-info">

            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">

                @foreach (var item in hotel)
                {
                    <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">

                        <div class="image-position position-relative">
                            <img src="~/uploading/@item.Photo" class="img-fluid" alt="" width="300">

                        </div>
                        <ul class="listing mt-3">
                            <li>
                                <h6 class="mt-1">
                                    <span class="fa fa-map-marker mr-2"></span>@if (item.Country != null)
                                    {
                                        var cname = item.Country.Name;<span>@cname</span>
                                    }
                                </h6>
                                <h5 class="my-2">@item.Name</h5>

                            </li>
                        </ul>

                        <div class="destinations-info">
                            <div class="caption mb-lg-3">
                                <h6 class="my-2">@item.Name</h6>
                                <a href="@Url.Action("InformationDetail", "Information", new { Id = item.Id, infotype = 3 })">Details</a>
                            </div>
                        </div>


                    </div>
                }



            </div>
        </div>
    </div>
</section>



<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center">Resorts </h3>
        <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
        <div class="package-info">

            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">

                @foreach (var item in resorts)
                {
                    <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">

                        <div class="image-position position-relative">
                            <img src="~/uploading/@item.Photo" class="img-fluid" alt="" width="300">


                        </div>
                        <ul class="listing mt-3">
                            <li>
                                <h6 class="mt-1">
                                    <span class="fa fa-map-marker mr-2"></span>@if (item.Country != null)
                                    {
                                        var cname = item.Country.Name;<span>@cname</span>
                                    }
                                </h6>
                                <h5 class="my-2">@item.Name</h5>

                            </li>
                        </ul>

                        <div class="destinations-info">
                            <div class="caption mb-lg-3">

                                <h5 class="my-2">@item.Name</h5>
                                <a href="@Url.Action("InformationDetail", "Information", new { Id = item.Id, infotype = 4 })">Details</a>
                            </div>
                        </div>


                    </div>
                }



            </div>
        </div>
    </div>
</section>





<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center">Transports </h3>
        <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
        <div class="package-info">

            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">

                @foreach (var item in transportation)
                {
                    <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">

                        <div class="image-position position-relative">
                            <img src="~/uploading/@item.Photo" class="img-fluid" alt="" width="300">

                        </div>
                        <ul class="listing mt-3">
                            <li>
                                <h6 class="mt-1">
                                    <span class="fa fa-map-marker mr-2"></span>@if (item.Country != null)
                                    {
                                        var cname = item.Country.Name;<span>@cname</span>
                                    }
                                </h6>
                                <h5 class="my-2">@item.BussName</h5>

                            </li>
                        </ul>



                        <div class="destinations-info">
                            <div class="caption mb-lg-3">
                                <h5 class="my-2">@item.BussName</h5>
                                <a href="@Url.Action("InformationDetail","Information", new { Id = item.Id, infotype = 5 })">Details</a>
                            </div>
                        </div>


                    </div>
                }



            </div>
        </div>
    </div>
</section>


    