@model IEnumerable<KarnalTravel.User>

@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Shared/BackEnd.cshtml";
}
<style>
    .moveleft{
        margin-left:30px;
    }
</style>

<div class="moveleft">
    <h2>Registered Users</h2><br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.Name)
                </td>
            </tr>
        }

    </table>
</div>