@model KarnalTravel.Resorts_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEnd.cshtml";
}

<style>
    .moveleft{
        margin-left:30px;
    }

</style>
<div class="moveleft">
    <h2>Details Resorts</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PercentDiscount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PercentDiscount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.Name)
            </dd>

        </dl>
    </div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>